<footer class="page-footer" style="font-family: Century Gothic;">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5>Express JS</h5>
          <p class="grey-text text-lighten-4">This website showcases the use of Express JS routes and handling API datas. Express JS provides a thin layer of fundamental web application features, without obscuring Node.js features that you know and love.
          </p>
        </div>
        <div class="col l4 offset-l2 s12">
          <h5>Creator</h5>
          <ul>
            <li><a class="grey-text text-lighten-3" href="https://www.facebook.com/kevinroibasina">Facebook</a></li>
            <li><a class="grey-text text-lighten-3" href="https://instagram.com/timemachineni_roi">Instagram</a></li>
            <li><a class="grey-text text-lighten-3" href="https://twitter.com/tymmchineni_roi">Twitter</a></li>
            <li><a class="grey-text text-lighten-3" href="https://ph.linkedin.com/in/kevin-roi-rigor-basina-668136185">Linked In</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      <span>© 2020 Copyright</span>
      <p class="right">Made possible by omdbapi.com</p>
      </div>
    </div>
  </footer>
</body>
<script src="/actions.js"></script>
</html>


