<%- include("partials/header") %>

<header class="bannerContainer">

    <div class="formContainer" id="formContainer">
        <div class="ErrorContainer">
            <p class="Error">Unfortunately, you've reached the last page of the results </p>
            <p class="Error">or we do not have anything that matches your query.</p>
        </div>

        <h1>Movies <strong>DB</strong></h1>
        <span>The <strong>largest</strong> movie information database</span>

        <form action="/results" method="GET">
            <input type="text" name="movieTitle" placeholder="Movie Title" autocomplete="off">
            <button class="waves-effect waves-light btn">Search</button>
        </form>
    </div>

    <script>
        setTimeout(() => {
            const p = new Array(...document.querySelectorAll('p.Error'));
            p.forEach(e => { e.style.display = 'none' })
        }, 5000)
    </script>

</header>

<%- include("partials/footer") %>