<%- include("partials/header") %>

<header class="bannerContainer">

<div class="formContainer" id="formContainer">
    <p style="color: red; font-family: Century Gothic;">Unfortunately, you've reached the last page of the results </p>
    <p style="color: red; font-family: Century Gothic; margin-bottom: 20px;">or we do not have anything that matches your query.</p>

    <h1>Movies <strong>DB</strong></h1>
    <span>The <strong>largest</strong> movie information database</span>

    <form action="/results" method="GET">
        <input type="text" name="movieTitle" placeholder="Movie Title" autocomplete="off">
        <button class="waves-effect waves-light btn">Search</button>
    </form>
</div>

</header>

<%- include("partials/footer") %>